<%= form_for(@tarea) do |f| %>
  <% if @tarea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tarea.errors.count, "error") %> prohibited this tarea from being saved:</h2>

      <ul>
      <% @tarea.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :listtarea_id %><br>
    <%= f.number_field :listtarea_id %>
  </div>
  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :fplanvcto %><br>
    <%= f.datetime_select :fplanvcto %>
  </div>
  <div class="field">
    <%= f.label :ffin %><br>
    <%= f.datetime_select :ffin %>
  </div>
  <div class="field">
    <%= f.label :responsable %><br>
    <%= f.number_field :responsable %>
  </div>
  <div class="field">
    <%= f.label :avance %><br>
    <%= f.text_field :avance %>
  </div>
  <div class="field">
    <%= f.label :ttarea %><br>
    <%= f.number_field :ttarea %>
  </div>
  <div class="field">
    <%= f.label :etarea %><br>
    <%= f.number_field :etarea %>
  </div>
  <div class="field">
    <%= f.label :privada %><br>
    <%= f.number_field :privada %>
  </div>
  <div class="field">
    <%= f.label :trepeticion %><br>
    <%= f.number_field :trepeticion %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
