<p id="notice"><%= notice %></p>

<p>
  <strong>Listtarea:</strong>
  <%= @tarea.listtarea_id %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @tarea.nombre %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tarea.description %>
</p>

<p>
  <strong>Fplanvcto:</strong>
  <%= @tarea.fplanvcto %>
</p>

<p>
  <strong>Ffin:</strong>
  <%= @tarea.ffin %>
</p>

<p>
  <strong>Responsable:</strong>
  <%= @tarea.responsable %>
</p>

<p>
  <strong>Avance:</strong>
  <%= @tarea.avance %>
</p>

<p>
  <strong>Ttarea:</strong>
  <%= @tarea.ttarea %>
</p>

<p>
  <strong>Etarea:</strong>
  <%= @tarea.etarea %>
</p>

<p>
  <strong>Privada:</strong>
  <%= @tarea.privada %>
</p>

<p>
  <strong>Trepeticion:</strong>
  <%= @tarea.trepeticion %>
</p>

<%= link_to 'Edit', edit_tarea_path(@tarea) %> |
<%= link_to 'Back', tareas_path %>
