<div class="e-show">

  <p id="notice"><%= notice %></p>

  <p>
    <%= image_tag(Rails.root.join('app', 'assets', 'images', 'users', @user.photofile),:size=>"100x100") %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= @user.nombre %>
  </p>

  <p>
    <strong>Empresa:</strong>
    <%= @user.empresa.nombre %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>Rol en el proyecto:</strong>
    <%= @user.role %>
  </p>

  <p>
    <strong>Dirección:</strong>
    <%= @user.direccion %>
  </p>

  <p>
    <strong>Teléfono:</strong>
    <%= @user.telefono %>
  </p>

  <p>
    <strong>Celular:</strong>
    <%= @user.celphone %>
  </p>

  <p>
    <strong>Timezone:</strong>
    <%= @user.timezone %>
  </p>


  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>
  
</div>
