<h1>Listing user_tareas</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Tarea</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_tareas.each do |user_tarea| %>
      <tr>
        <td><%= user_tarea.user_id %></td>
        <td><%= user_tarea.tarea_id %></td>
        <td><%= link_to 'Show', user_tarea %></td>
        <td><%= link_to 'Edit', edit_user_tarea_path(user_tarea) %></td>
        <td><%= link_to 'Destroy', user_tarea, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User tarea', new_user_tarea_path %>
