<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @archivo.nombre %>
</p>

<p>
  <strong>Falta:</strong>
  <%= @archivo.falta %>
</p>

<p>
  <strong>User:</strong>
  <%= @archivo.user_id %>
</p>

<%= link_to 'Edit', edit_archivo_path(@archivo) %> |
<%= link_to 'Back', archivos_path %>
