<h1 class="form_title">Lista de empresas</h1>

<table class="e-table">
  <thead>
    <tr>
      <th></th>
      <th class="e-nombre">Nombre de la Empresa</th>
      <th class="e-lider">Lider - Contacto</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @empresas.each do |empresa| %>
      <tr>
        <td class="e-logofile"><%= image_tag(Rails.root.join('app', 'assets', 'images', 'logos', empresa.logofile),:size=>"120x60") %></td>
        <td class="e-nombre"><%= empresa.nombre %></td>
        <td class="e-lider"><%= User.find_by(id: empresa.lider_id).nombre %></td>
        <td><%= link_to 'Show', empresa %></td>
        <td><%= link_to 'Edit', edit_empresa_path(empresa) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Empresa', new_empresa_path %>
