<div class="e-show">
  
  <p id="notice"><%= notice %></p>

  <p>
    <%= image_tag(Rails.root.join('app', 'assets', 'images', 'logos', @empresa.logofile),:size=>"200x100") %>
  </p>
  <p>
    <strong>Nombre de la Empresa:</strong>
    <%= @empresa.nombre %>
  </p>

  <p>
    <strong>Lider:</strong>
    <%= User.find_by(id: @empresa.lider_id).nombre %>
  </p>

  <p>
    <strong>Dirección Línea 1:</strong>
    <%= @empresa.direccion1 %>
  </p>

  <p>
    <strong>Dirección línea 2:</strong>
    <%= @empresa.direccion2 %>
  </p>

  <p>
    <strong>Provincia:</strong>
    <%= @empresa.provincia %>
  </p>

  <p>
    <strong>País:</strong>
    <%= @empresa.pais %>
  </p>

  <p>
    <strong>Código Postal:</strong>
    <%= @empresa.zipcode %>
  </p>

  <p>
    <strong>Teléfono:</strong>
    <%= @empresa.telefono %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @empresa.email %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= @empresa.website %>
  </p>


  <%= link_to 'Edit', edit_empresa_path(@empresa) %> |
  <%= link_to 'Back', empresas_path %>

</div>