<!DOCTYPE html>
<html>
<head>
  <title>Gestión de Proyectos Online</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div id="mainbar">
		<div id="mainmenu">
			<div id="mmcontainer">
				<ul>
					<li><%= link_to "PIZARRA" %></li>
					<li><%= link_to "PROYECTO", proyectos_url %></li>
					<li><%= link_to "PROGRAMA", listtareas_url %></li>
					<li><%= link_to "TAREA", tareas_url %></li>
					<li><%= link_to "HITO", hitos_url %></li>
				</ul>
			</div>
		</div>

		<div id="middlebar">
		</div>

		<div id="recmenu">
			<div id="reccontainer">
				<ul>
					<li><%= link_to "EMPRESA", empresas_url %></li>
					<li><%= link_to "RRHH", users_url %></li>
					<li><%= link_to "RECURSOS" %></li>
				</ul>
			</div>
		</div>
	</div>

	<div id="projectbar">
		<div id="textbar">
			<% if @linea1 %>
				<h3 class="linea1"><%= @linea1 %></h3>
			<% else %>
				<h3 style="padding: 20px 20px 20px 80px;">Gestión de Proyectos Online</h3>			
			<% end %>
			<% if @linea2 %>
				<h4 class="linea2"><%= @linea2 %></h4>
			<% end %>
		</div>
		<div id="userimage">
			<% if session[:user_logged] %>
				<%= image_tag(Rails.root.join('app', 'assets', 'images', 'users', @user_logged.photofile),:size=>"50x50") %>
			<% end %>
		</div>
		<div id="userdata">
			<% if session[:user_logged] %>
				<ul>
					<li><%= link_to(@user_logged.nombre) %><br></li>
					<li><%= link_to(@user_logged.role) %><br></li>
					<li><%= link_to("LOGOUT", logout_url) %></li>
				</ul>
			<% else %>
				<ul>
					<li id="login_link"><%= link_to("LOGIN", login_url) %></li>
				</ul>
			<% end %>
		</div>
	</div>

	<div id="contenido">
		<%= yield %>
	</div>

</body>
</html>
